body{
    margin: 0;
    padding: 0;
    background-image: url(bg3.img);
    background-size: cover;
    background-repeat: no-repeat;
}
nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    flex-wrap: wrap;
    padding: 8px;
    background-size: cover;
    align-items: center;
    

}
nav a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
nav a:hover{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
.text{
    margin-left: 8px;
}
nav .text{
    margin-right: auto;
}
img{
    border-radius: 900px;
    padding: 1em;
    margin-right: 2em;
}
.container{
    display: grid;
    grid-template-rows: repeat(2,auto );
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 2em;
    justify-content: center;
    align-items: center;
    font-style: italic;
    text-align: center;
    

}
.container1{
    justify-self: end;
    margin-left: 2em;
    padding: 1em;


}
.container2{
    justify-self: end;
    padding-top: 2em;
}
.footer{

}
.hide{
    position: fixed;
    top: 0;
    right: 0;
    width: 250px;
    z-index: 999;
    height: 100vh;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-image: url(bg3.img);
    transition: none;
}
.hide a{
    width: 100%;
    margin-left: 30px;
}
li{
    list-style: none;
}
@media(max-width:800px) {
    .hideonmobile{
        display: none;
    }
    .container{
        grid-template-columns: repeat(1,minmax(100px,auto));
        grid-template-areas: 
        'main'
        'main2'
        'footer';
    }
    .container1{
        grid-area: main2;
    }
    .container2{
        grid-area: main;
    }
    .footer{
        grid-area: footer;
    }
    img{
        max-width: 100%;
    }
}
@media(min-width:800px){
    .hideonmobilei{
        display: none;
    }
}
.hideonmobilei{
    margin-right: 15px;
}
.hideonmobilei:hover{
    
}
.fa {
    padding: 10px;
    font-size: 30px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 1000px;
}

.fa:hover {
    opacity: 0.7;
    border: 2px solid;
    border-color: black;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-instagram {
    background: #893bb0;
    color: white;
}